@charset "utf-8";
/* CSS Document */
$black: #252831;
$white: #fafafa;
$red: #FF5A5F;
$teal: #00A699;
$orange: #FC642D;
$darkgrey: #212121;
$mediumgrey: #5c5c5c;
$purple: #5610e7;
$lightgrey: #e0e0e0;
$backgroundgrey: #e5e5e5;
$blue: #005fc3;

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// @import 'leaflet';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body,td,th,p{
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: $white;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: $blue;
	text-decoration: none;
}
a:hover, a:focus {
	color: $blue;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.skip-link {
  position: absolute;
  top: -40px;
  right: 16px;
  background: #323232;
  color: $lightgrey;
  border-radius: 4px;
  padding: 8px;
  z-index: 100;
  opacity:0;
  transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.skip-link:focus {
  top: 10px;
  opacity:1; 
  color: $lightgrey;
}

.main {
  background-color: $white;
  min-height: 100%;
  margin: 0 auto;
}

.footer__container {
  text-align: center;
  padding: 6px 0px;
  border-top: 1px solid #ccc;
  margin-top: 12px;
  background: $white;
}
.footer__line {
  color: $mediumgrey
}
.footer__link {
  background:$white;
  color: $blue;
}
/* ====================== Navigation ====================== */
.header {
  z-index: 2;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.header__nav {
  width: calc(100% - 32px);
  height: 56px;
  background-color: $blue;
  color: $white;
  text-align:left;
  padding: 0px 16px;
}
.header__h1 {
  margin: auto;
  padding: 10px 0px 0px 0px;
}
.header__link {
  color: $white;
  font-size: 14pt;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: capitalize;
}
.header__logo {
  max-width: 200px;
  width: 100%;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: $white;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

.map {
  &__container {
    background: #ccc;
  }
  &__application {
    height:300px;
    width: 100%;
    background-color: $lightgrey;
    opacity: 0;
    transition: all 1000ms cubic-bezier(0.000, 0.100, 0.900, 1.000);
    &--active {
      opacity: 1;
    }
  }
}

/* ====================== Restaurant Filtering ====================== */

.filter{
  &__options {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    margin-top: 20px;
  }
  &__title {
    color: $blue;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    padding: 16px 20px;
    margin: 0;
  }
  &__label {
    color: $mediumgrey;
    margin: 0px 15px 0px;
    padding: 0;
    display: inline-block;
    position: absolute;
    transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    // transform: translateY(28px);
    z-index:1;
    padding: 4px 4px;
    margin-left: 10px;
    pointer-events: none;
    &--active {
      transform: translateY(-10px);
      font-size: 10px;
      background: $white;
    }
  }
  &__select {
    border: none;
    border: 1px solid $mediumgrey;
    color: $mediumgrey;
    border-radius: 0;
    background:transparent;
    font-size: 11pt;
    height: 32px;
    letter-spacing: 0;
    width: 100%;
    -webkit-appearance: none;
    align-items:flex-end;
    display: block;
    position: relative;
    border-radius: 4px;
    padding: 4px 12px;
    -moz-appearance: none;
  }
  &__selectcontainer {
    position: relative;
    margin-bottom: 16px;

  }
  &__selectdown {
    position: absolute;
    right: 24px;
    top: 12px;
    width: 8px;
    height: 8px;
  }
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list-ghost{
  width: 100%;
  position: absolute;
  margin-top: -16px;
}

.restaurantlist {
  &__container {
    background: $white;
    padding: 0;
    margin: 0;
  }
}
.restaurant {
  &__container {
    overflow: hidden;
    width: calc(100% - 32px);
    background-color: white;
    padding: 0px;
    margin: 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #a6a6a6;
    position: relative;
    &--active{
      animation-delay:1s;
      animation: fadein 2s;
      animation-fill-mode: forwards;
    }
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  &__image {
    width: 100%;
    height: auto;
  }
  &__likebutton {
    position: absolute;
    top: -24px;
    right: 16px;
    background-color: $white;
    height: 42px;
    width: 42px;
    border-radius: 21px;
    box-shadow: 0 1px 4px rgba(57, 63, 72, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__likebuttonimage {
    width: 24px;
    fill:white;
    stroke:black;
    transition: all 500ms cubic-bezier(0.000, 0.930, 0.125, 1.000); /* custom */
    &--active {
      fill:black;
      stroke:black;
    }
  }
  &__textcontainer {
    padding: 12px;
    position: relative;
  }
  &__name {
    font-weight: 400;
    padding-bottom: 6px;
    font-size: 23px;
    color: $darkgrey;
    margin-bottom: 0;
  }
  &__reviewcontainer {
    margin-bottom:10px;
  }
  &__star {
    width:12px;
    height:12px;
  }
  &__cuisine {
    color: $darkgrey;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    padding-right: 6px;
    display: inline-block;
    &::after{
      content: ', '
    }
  }
  &__neighborhood {
    color: $mediumgrey;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 12px;
    display: inline-block;
  }
  &__hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 10px;
  }


  &__address {
    color: $mediumgrey;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 12px;
  }
  &__link {
    text-transform: uppercase;
    text-decoration:none;
    font-weight: 500;
    font-size: 12px;
    padding: 6px;
    color: $blue;
    margin-left: -6px;
    &:focus {
      background: $lightgrey;
      color: $blue; 
    }
  }
  
}


/* ====================== Restaurant Details ====================== */

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

// #restaurant-name {
//   color: #f18200;
//   font-family: Arial,sans-serif;
//   font-size: 20pt;
//   font-weight: 200;
//   letter-spacing: 0;
//   margin: 16px 0 16px;
//   text-transform: uppercase;
//   line-height: 1.1;
// }
#restaurant-img {
	width: 100%;
}

// #restaurant-container, #reviews-container {
//   border-bottom: 1px solid #d9d9d9;
//   border-top: 1px solid #fff;
//   padding: 140px 40px 30px;
//   width: calc(100% - 30px);
// }

.restaurantdetail {
  &__container{
    padding: 0px;
    margin: 0px auto 0px;
    border: 0;
    position: relative;
  }
  &__imagecontainer {
    max-height: 300px;
    overflow:hidden;
  }
  &__postreviewcontainer {
    padding: 0;
    margin: 0 auto;
    border: 0;
  }
  &__reviewscontainer {
    padding: 0px;
    margin: 0px auto 0px;
    border: 0;
  }
  &__backbuttoncontainer {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $white;
    height: 42px;
    width: 42px;
    border-radius: 21px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__backbutton {
    display: inline-block;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__backbuttonimage {
    width: 16px;
    height: 16px;
    margin-left: -2px;
  }
  &__name {
    color: $black;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    margin: 16px 16px 0px;
    line-height: 32px;
    margin-bottom: 6px;
  }
  &__reviewcontainer {
    margin: 0px 16px 8px;
  }
  &__hr {
    width: calc(100% - 32px);
    margin: 0 16px;
    border: 0;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 10px;
    &--marginbottom {
      margin-bottom: 0;
    }
  }
  &__cuisine {
    color: #212121;
    font-weight: 400;
    font-size: 13px;
    margin: 0px 16px 16px;
    padding-right: 6px;
    align-items: center;
    display: flex;
  }
  &__addresscontainer {
    display: flex;
    justify-content: space-between;
  }
  &__address {
    color: #212121;
    font-weight: 400;
    font-size: 13px;
    margin: 0px 16px 16px;
    padding-right: 6px;
    align-items: center;
    display: flex;
  }
  &__mapcontainer {
    height: 150px;
    width: 100%;
    margin-right: 16px;
    max-width: 150px;
  }
  &__icon {
    width: 24px;
    margin-right: 16px;
  }
  &__hours {
    margin: 0px 0px 16px;
  }
  &__hourscontainer {
    display: flex;
    align-items: flex-start;
    margin: 0px 16px;
  }
  &__day {
    font-weight: 500;
    width: 100%;
    display: flex;
    align-content: flex-start;
    display: block;
    color: $black;
  }
  &__hour {
    width: 100%;
    display: block;
    color: $mediumgrey;
  }
  &__reviewscontainer {
    margin: 0 16px;
  }
  &__reviewstitle {
    font-weight: 400;
    padding-bottom: 6px;
    font-size: 23px;
    color: #212121;
    margin-bottom: 0;
  }
  &__reviewlist {
    margin: 0;
    padding: 0px 0px 20px;
  }
  &__review {
    background-color: #fff;
    border: 2px solid $white;
    display: block;
    list-style-type: none;
    margin: 0 0 16px;
    overflow: hidden;
    padding: 20px 20px 20px;
    position: relative;
    width: calc(100% - 44px);
  }
  &__commentheader {
    display: flex;
    margin-bottom: 8px;
  }
  &__avatar {
    height: 40px;
    margin-right: 16px;
  }
  &__individualreviewrating {
    display: inline-block;
  }
  &__reviewdate {
    display: inline-block;
    margin-left: 10px;
    color: $mediumgrey;
    font-size: 12px;
  }
  &__reviewcontainer {
    color: $mediumgrey;
    margin: 0px 15px 0px;
    padding: 0;
    display: inline-block;
    transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    z-index:1;
    padding: 4px 4px;
    margin-left: 10px;
    pointer-events: none;
  }
  &__ratingcontainer {
    min-height: 24px;
    margin-bottom: 8px;
    display:flex;
    flex-direction:row;
    align-items:center;
  }
  &__ratinglabel {
    margin-right:16px;
  }
  &__starcontainer {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding:12px;
  }
  &__star {
    width:100%;
    height:100%;
    display:block;
    background:url('../img/emptystar.svg');
    background-size:contain;
    background-position:center;
    &--active {
      width:100%;
      height:100%;
      display:block;
      background:url('../img/fullstar.svg');
      background-size:contain;
      background-position:center;
    }
  }
  &__reviewnamecontainer, &__ratingcontainer {
    position: relative;
  }
  &__reviewnamelabel {
    color: $mediumgrey;
    margin: 0px 15px 0px;
    padding: 0;
    display: inline-block;
    position: absolute;
    transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    // transform: translateY(28px);
    z-index:1;
    padding: 4px 4px;
    margin-left: 10px;
    pointer-events: none;
    top:7px;
    &--active {
      transform: translateY(-18px);
      font-size: 10px;
      background: $white;
    }
  }
  &__reviewnameinput {
    border: none;
    border: 1px solid $mediumgrey;
    color: $mediumgrey;
    border-radius: 0;
    background:transparent;
    font-size: 11pt;
    height: 32px;
    letter-spacing: 0;
    width: calc(100% - 24px);
    -webkit-appearance: none;
    align-items:flex-end;
    display: block;
    position: relative;
    border-radius: 4px;
    padding: 4px 12px;
    -moz-appearance: none;
    margin-bottom: 16px;
  }
  &__reviewlabel {
    color: $mediumgrey;
    margin: 0px 15px 0px;
    padding: 0;
    display: inline-block;
    position: absolute;
    transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    // transform: translateY(28px);
    z-index:1;
    padding: 4px 4px;
    margin-left: 10px;
    pointer-events: none;
    top:7px;
    &--active {
      transform: translateY(-18px);
      font-size: 10px;
      background: $white;
    }
  }
  &__reviewinput {
    border: none;
    border: 1px solid #5c5c5c;
    color: #5c5c5c;
    border-radius: 0;
    background: transparent;
    font-size: 11pt;
    height: 80px;
    letter-spacing: 0;
    width: calc(100% - 24px);
    -webkit-appearance: none;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: block;
    position: relative;
    border-radius: 4px;
    padding: 10px 12px;
    -moz-appearance: none;
    margin-bottom: 8px;
  }
  &__reviewsubmitbutton {
    background:$blue;
    border-radius: 4px;
    color: white;
    display: inline-block;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 11px;
    margin-bottom:10px;
  }
}

// #reviews-list li p {
//   margin: 0 0 10px;
// }

/* ====================== Toast ====================== */

.toast { 
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: calc(100% - 64px);
  background: #323232;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  transform: translateY(calc(100% + 32px));
  opacity: 0;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #a6a6a6;
  transition: all 500ms cubic-bezier(0.000, 0.930, 0.125, 1.000); /* custom */
  
}
.toast--active {
  transform: translateY(0%);
  opacity: 1;
}

.toast__message {
  color: $lightgrey;
  font-size: 14px;
  font-weight: 100;
  width: 41%;
  margin: 0;
  padding-top: 9px;
}

.toast__buttoncontainer {
  width: 59%;
  text-align: right;
}

.toast__button {
  display: inline-block;
  border: none;
  background: transparent;
  color: $blue;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 11px 8px;
  transform: translateX(8px);
}

@media screen and (min-width:397px){
  .main-header h1 {
    margin: auto;
    padding: 26px 0px 0px 0px;
  }
}

@media screen and (min-width:500px){
  .filter-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .filter-options h2 {
    width: 100%;
  }
  .filter-options select {
    width: calc(50% - 30px);
    max-width: 300px;
  }
  .filter{
    &__options {
      display: flex;
      flex-wrap: wrap;
    }
    &__selectcontainer {
      width: calc(50% - 4px);
      margin-bottom: 0px;
      &:nth-child(1){
        margin-right: 4px;
      }
      &:nth-child(2){
        margin-left: 4px;
      }
    }
  }
  .restaurantdetail {
    &__mapcontainer {
      max-width: 260px;
    }
  }
}

@media screen and (min-width:500px){
  #restaurants-list{
    display: flex;
    flex-wrap: wrap;
  }
  #restaurants-list-ghost{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    margin-top: 0;
  }
  .restaurant__container {
    width: calc(50% - 24px);
  }
  .restaurant__container:nth-child(2n) {
    margin-left:0
  }

  #reviews-list {
    display: flex;
    flex-wrap: wrap;
  }
  #reviews-list li {
    margin: 16px 8px 0;
    width: calc(50% - 60px);
  }
  #toast {
    max-width: 500px;
  }

}

@media screen and (min-width: 1000px){
  #restaurants-list-ghost{
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    position: absolute;
  }
  .main--interior {
    display: flex;
    flex-wrap: wrap;
  }
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .inside #map-container{
    width: calc(100% - 720px);
    height: calc(100vh - 56px);
    position: fixed;
    max-width: 100%;
    right: 0;
    top: 56px;
    margin-right: 0;
  }
  .inside #restaurant-container{
    width: 50%;
    margin-left: 0%;
    padding-left: 16px;
    padding-right: 16px;

  }
  .inside #restaurant-container{
    width: 720px;
    padding: 0;
    margin: 0;
    margin-top: 56px;
  }
  .restaurantdetail__reviewscontainer {
    // width: calc(100% - 32px);
  }
  #reviews-list li {
    margin: 16px 0px 0;
    width: 100%;
  }
  .inside #footer {
    margin-left: 0%;
    width: 100%;
  }
}

@media screen and (min-width:1000px){
  .map__container {
    width: calc(100% - 720px);
    height: calc(100vh - 56px);
    position: fixed;
    right: 0;
    top: 56px;
  }
  .map__application {
    height: 100%;
  }
  .filter__container {
    width: 720px;
    padding-top: 56px;
  }
  .filter__options {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .header {
    width: 100%;
    position:fixed;
  }
  .filter__label {
    top: 2px;
    font-size:12px;
    &--active {
      transform: translateY(-16px);
    }
  }
  .filter__selectdown {
    right: 12px;
  }

}