@charset "utf-8";
/* CSS Document */
$black: #252831;
$white: #fafafa;
$red: #FF5A5F;
$teal: #00A699;
$orange: #FC642D;
$darkgrey: #212121;
$mediumgrey: #5c5c5c;
$purple: #5610e7;
$lightgrey: #e0e0e0;
$backgroundgrey: #e5e5e5;
$blue: #005fc3;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body,td,th,p{
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: $backgroundgrey;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: $blue;
	text-decoration: none;
}
a:hover, a:focus {
	color: $blue;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0px;
  background: #BF1722;
  color: white;
  padding: 8px;
  z-index: 100;
  opacity:0;
}

.skip-link:focus {
  top: 0;
  opacity:1;
}

#maincontent {
  background-color: $white;
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.inside #maincontent {
  margin-top: 131px;
}
.footer__container {
  text-align: center;
  padding: 6px 0px;
  border-top: 1px solid #ccc;
  margin-top: 12px;
  background: $white;
}
.footer__line {
  color: $mediumgrey
}
.footer__link {
  background:$white;
  color: $blue;
}
/* ====================== Navigation ====================== */
.header {
  z-index: 2;
  box-shadow: 0px 2px 1px rgba(166,166,166,.5);
}
.header__nav {
  width: calc(100% - 32px);
  height: 56px;
  background-color: $blue;
  color: $white;
  text-align:left;
  padding: 0px 16px;
}
.header__h1 {
  margin: auto;
  padding: 10px 0px 0px 0px;
}
.header__link {
  color: $white;
  font-size: 14pt;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: capitalize;
}
.header__logo {
  max-width: 200px;
  width: 100%;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: $white;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

.map {
  &__container {

  }
  &__application {
    height:300px;
    width: 100%;
    background-color: $lightgrey;
  }
}

/* ====================== Restaurant Filtering ====================== */

.filter{
  &__options {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    margin-top: 20px;
  }
  &__title {
    color: $blue;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    padding: 16px 20px;
    margin: 0;
  }
  &__label {
    color: $mediumgrey;
    margin: 0px 15px 0px;
    padding: 0;
    display: inline-block;
    position: absolute;
    transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    // transform: translateY(28px);
    z-index:1;
    padding: 4px 4px;
    margin-left: 10px;
    pointer-events: none;
    &--active {
      transform: translateY(-10px);
      font-size: 10px;
      background: $white;
    }
  }
  &__select {
    border: none;
    border: 1px solid $mediumgrey;
    color: $mediumgrey;
    border-radius: 0;
    background:transparent;
    font-size: 11pt;
    height: 32px;
    letter-spacing: 0;
    width: 100%;
    -webkit-appearance: none;
    align-items:flex-end;
    display: block;
    position: relative;
    border-radius: 4px;
    padding: 4px 12px;
  }
  &__selectcontainer {
    position: relative;
    margin-bottom: 0px;

  }
  &__selectdown {
    position: absolute;
    right: 24px;
    top: 12px;
    width: 8px;
    height: 8px;
  }
}

/* ====================== Restaurant Listing ====================== */

.restaurantlist {
  &__container {
    background: $white;
    padding: 0;
    margin: 0;
  }
}
.restaurant {
  &__container {
    overflow: hidden;
    // max-width: 334px;
    width: calc(100% - 32px);
    background-color: white;
    padding: 0px;
    margin: 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #a6a6a6;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__textcontainer {
    padding: 12px
  }
  &__name {
    font-weight: 400;
    padding-bottom: 6px;
    font-size: 23px;
    color: $darkgrey;
    margin-bottom: 0;
  }
  &__reviewcontainer {
    margin-bottom:10px;
  }
  &__star {
    width:12px;
    height:12px;
  }
  &__cuisine {
    color: $darkgrey;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
    padding-right: 6px;
    display: inline-block;
    &::after{
      content: ', '
    }
  }
  &__neighborhood {
    color: $mediumgrey;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 12px;
    display: inline-block;
  }
  &__hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 10px;
  }


  &__address {
    color: $mediumgrey;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 12px;
  }
  &__link {
    text-transform: uppercase;
    text-decoration:none;
    font-weight: 500;
    font-size: 12px;
    padding: 6px;
    color: $blue;
    margin-left: -6px;
    &:focus {
      background: $lightgrey;
      color: $blue; 
    }
  }
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  position: static;
  right: 0;
  top: 80px;
  height: 200px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: static;
  width: calc(100% - 50px);
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 16px 0 16px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: -5px;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: calc(100% - 30px);
}
.inside #restaurant-container, #reviews-container {
  padding: 0px;
  margin: 0px auto 0px;
  border: 0;
}
#reviews-container {
  padding: 0px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-bottom: 0;
  margin-top: 16px;
}
#reviews-list {
  margin: 0;
  padding: 0px 0px 20px;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid $white;
  display: block;
  list-style-type: none;
  margin: 16px 0 0;
  overflow: hidden;
  padding: 20px 20px 20px;
  position: relative;
  width: calc(100% - 44px);
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Toast ====================== */

#toast {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 32px);
  background: rgba(60,60,60,.95);
  display: flex;
  flex-wrap: wrap;
  padding: 32px 16px;
  transform: translateY(100%);
  -webkit-transition: all 500ms cubic-bezier(0.000, 0.930, 0.125, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.000, 0.930, 0.125, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.000, 0.930, 0.125, 1.000); 
        transition: all 500ms cubic-bezier(0.000, 0.930, 0.125, 1.000); /* custom */
  
}
#toast.active {
  transform: translateY(0%);
}

#toast p {
  color: white;
  font-weight: 500;
  font-size: 20px;
  width: 50%;
  margin: 0;
}

#toast .button-container {
  width: 50%;
  text-align: right;
}

#toast .button-container button {
  display: inline-block;
  color: $orange;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (min-width:397px){
  .main-header h1 {
    margin: auto;
    padding: 26px 0px 0px 0px;
  }
}

@media screen and (min-width:500px){
  .filter-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .filter-options h2 {
    width: 100%;
  }
  .filter-options select {
    width: calc(50% - 30px);
    max-width: 300px;
  }
  .filter{
    &__options {
      display: flex;
      flex-wrap: wrap;
    }
    &__selectcontainer {
      width: calc(50% - 4px);
      &:nth-child(1){
        margin-right: 4px;
      }
      &:nth-child(2){
        margin-left: 4px;
      }
    }
  }
}

@media screen and (min-width:500px){
  #restaurants-list{
    display: flex;
    flex-wrap: wrap;
  }
  .restaurant__container {
    width: calc(50% - 24px);
  }
  .restaurant__container:nth-child(2n) {
    margin-left:0
  }

  #reviews-list {
    display: flex;
    flex-wrap: wrap;
  }
  #reviews-list li {
    margin: 16px 8px 0;
    width: calc(50% - 60px);
  }
  #toast {
    max-width: 500px;
  }

}

@media screen and (min-width: 767px){
  .inside #maincontent {
    display: flex;
    flex-wrap: wrap;
  }
  .inside #map-container{
    width: 50%;
    height: calc(100vh - 131px);
    position: fixed;
    left: 0;
    top: 131px;
  }
  .inside #restaurant-container, #reviews-container{
    width: 50%;
    margin-left: 50%;
    padding-left: 16px;
    padding-right: 16px;
  }
  #reviews-list li {
    margin: 16px 0px 0;
    width: 100%;
  }
  .inside #footer {
    margin-left: 50%;
    width: calc(50% - 50px);
  }
}

@media screen and (min-width:1000px){
  .map__container {
    width: calc(100% - 360px);
    height: calc(100vh - 56px);
    position: fixed;
    right: 0;
    top: 56px;
  }
  .map__application {
    height: 100%;
  }
  .filter__container {
    width: 360px;
    padding-top: 56px;
  }
  .restaurant__container {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
  .restaurant__container:nth-child(2n) {
    margin-left: 16px;
    margin-right: 16px;
  }
  .filter__options {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .header {
    width: 100%;
    position:fixed;
  }
  .filter__label {
    top: 2px;
    font-size:12px;
    &--active {
      transform: translateY(-16px);
    }
  }
  .filter__selectdown {
    right: 12px;
  }

}